.image-container, .title-header {
    text-align: center;
}

.image-container
{
    width: 50%;
    margin: 0 auto;
}

.title-header {
    margin-top: 50px;
    margin-bottom: 50px;
}

img.verse-img {
    cursor: pointer;
}

/* Style the header */
.header {
    padding: 10px 16px;
    background: transparent;
    color: black;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid gray;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}

.line-numbers {
    float: left;
    margin-top:30px;
}

.header {
    z-index:100;
}

.line-num-container {
    display:table;
    height:100%;
    width:100%;
    text-align:right;
}

.line-num {
    display:table-cell;
    vertical-align: middle;
}

.verse-img {
    height:160%;
    width: auto;
}

.tibetan-text {
    font-size: 3.4em;
    line-height: 2.4em;
    cursor: pointer;
    font-family: sans-serif;
}
